
.cart_box{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 20% 60% 20%;
    margin-bottom: var(--gap);
    /* margin-top: 10%; */
}
.ordr_cart_details{
    margin-left: 20px;
}
