.login_page {
  background: var(--pri_color);
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
}
.loginform_box .cross_btn {
  position: absolute;
  top: -20px;
  right: 0;
}

.loginform {
  width: 375px;
  /* position: relative; */
  /* padding: 5%; */
}

.activation {
  margin-top: 80px;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginform_box_grid {
  display: flex;
  flex-direction: column;
}
.loginform_box {
  /* width: 95vw; */
  box-shadow: none;
  position: relative;
  border: none;
  margin-top: 10%;
}
.loginpage_message {
  margin-top: 5%;
}
.loginpage_message .login__page__imgae {
  width: 20% !important;
}
.loginpage_message h2 {
  font-weight: bolder;
  font-size: 1.2em;
  letter-spacing: 2px;
  line-height: 2;
  margin-bottom: 5%;
}
.account__photo {
    position: relative;
}
.account__photo p{
    position: absolute;
    top: 67%;
    width:100px;
    height: 100px;
    left:45%;
    background:var(--sec_dark);
    color: var(--pri_color);
    display: flex;
    justify-content: center;
    font-weight: 900;
    border-radius: 50%;
    font-size: 3em;
    border: 10px solid var(--pri_color);
    
}
.account_cover_poto{
    height: 115px;
    width: 100%;
    object-fit: cover;
}
@media (max-width:600px){
    .loginform {
        
        padding: 5%;
      }
      .account__photo p{
        
        left: 37%;
        
    }
}
