.prouct_title{
    margin: var(--gap);
}
.prouct_title div{
    font-size: var(--pri_font_size);
    font-weight: 600;
    text-decoration: dotted;
}
.products_grid{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    justify-content: space-between;
}
@media(max-width:1100px){
    .products_grid{
        display: grid;
        grid-template-columns:33% 33% 33%;
        justify-content: space-between;
    }
}
@media(max-width:700px){
    .products_grid{
        display: grid;
        grid-template-columns:50% 50%;
        justify-content: space-between;
    }
}