
/* .featured_desktop, .featured_mobile{
    margin:  !important;
} */
.carousel-cell {
    width: 70%;
    margin: 20px 10px 10px 10px;    
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
.featured_mobile{
    display: none;
}
  .carousel-cell img{
    width: 100%;
  }
@media (max-width:1000px){
    .carousel-cell {
        width: 80%;
    }
}
@media (max-width:700px){
    .featured_desktop{
        display: none;
    }
    .featured_mobile{
        display: block;
    }
    .carousel-cell{
        margin: 10px 5px 5px 5px;
    }

}



