.checkout_page{
    margin-top: 80px;
 }
.checkout_title{
    background: var(--sec_color);
}
.checkout_title p{
    padding: 20px;
}
.checkout_title p span{
    text-decoration: underline;
}

.order_box{
    background: var(--sec_color);
    padding: 20px;
    width: 100%;
}
.order_title{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.order_title span{
    text-decoration: underline;
    cursor: pointer;
}
.order_box hr{
    margin: 20px 0;
    border: 0.1px solid var(--sec_dark);
}
.order_total{
    display: flex;
    justify-content: space-between;
}
.personal_details input, .address_deatils input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background:none;
}

.checkout_page .checkout__name{
font-size: var(--font_for_header);
font-weight: 600;
margin-bottom: 20px;

text-align: center;
}
@media (max-width:600px){
    .checkout_page{
        display: flex;
        flex-direction: column-reverse;
        padding:10px;

    }
    .checkout_box{
        margin: 20px;
    }
    .order_box{
        border-radius: 5px;
    }
    
}