.collection_grid {
  width: 100%;
  margin-bottom: var(--gap);

}
.collection_box {
  width: 100%;
  margin-bottom: var(--gap);

}
.collection_box_img {
  width: 100%;
  position: relative;
}
.collection_box_img img {
  width: 100%;
}
.collection_box_img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.collection_box_content {
  position: absolute;
  width: 100%;
  bottom: 5%;
  text-align: center;
}
.collection_box_content h2 {
  font-weight: 500;
  font-size: var(--font_for_header);
}
.collection_box_content h2,
.collection_box_content p {
  color: var(--white);
}
.collection_box_content button {
  color: var(--sec_dark);
  text-decoration: underline;
  font-weight: 500;
}
.collections h1 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: var(--gap);
}
