.cart{
    position: fixed;
    z-index:9999999;
    top: 0;
    margin-left: 100%;
    width: 100%; 
    height: 100vh;  
    transition: 0.4s ease;
}
.cart_active{
    margin-left: 0%;
    /* overflow-y: hidden; */
}
.cart_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5) ;
    z-index: 9999;
}
.cart_container{
    background-color: var(--back-c);
    backdrop-filter: blur(20px);
    height: 100vh;
    position: absolute;
    right: 0;
    width: 450px; 
    z-index: 9999;
    /* position: relative; */
}
.cart_details{
    height: 100vh;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    
}

 .checkout_btn{
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--sec_color);
    margin: 0;
    padding: 0;
    height: 7vh;
    width: 100%;
    /* max-width: 350px; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
.cross_btn2{   
    display: flex;
    justify-content:space-between ;
    align-items: center;    
    padding: 10px 20px;   
}

.cross_btn2 span{
    cursor: pointer;
    transition:  transform 0.3s ease-in-out;
}

.cross_btn2 h2{
    font-size: var(--font_for_header);
    text-align: center;
    font-weight: 600;
}
.check_out_text button{
    color: var(--sec_dark);
    text-decoration: underline;
}
@media (min-width: 1300px) {
    .cart_container {
        width: calc((100% - 1300px)/2 + 350px);
        padding-right: calc((100% - 1300px)/2);
    }
}
@media (max-width:600px){
    .cart_container{
        width: 100%;
    }
}
