.faq_width {
  width: 80%;
  margin: 0px auto;

  /* background-color:red; */
}
.faq_width h2 {
  /* margin: 40px 20px 20px 20px; */
  color: var(--g);
  /* background-color: red; */
}
.help__section{
  font-size:2em;
}
@media (max-width: 800px) {
  .faq_width {
    width: 100%;
  }
  .faq_width h2 {
    font-size: 20px;
  }
 
}
@media (max-width: 600px) {
  .faq_width h2 {
    font-size: 20px;
  }
  .help__section{
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
   }
}
