.slides_box{   
    /* width: 500px; */
    margin: auto; 
}
.slidex_box_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slidex_box_flex h1{
    margin: 20px 0 10px 0;
    text-transform: uppercase;

}
.details_grid{
    display: grid;
    grid-template-columns: 50% 50% !important;
    width: 60%;
    justify-content: center;    
    
}
.details_grid_box{
    display: flex;
    align-items: center;
    text-align: start;
    margin-left: 40px;
    gap: 20px;
    margin-bottom: 10px;
}
.price_btn_grid{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.price_btn_grid h2{
    font-size: 35px;
}
.price_btn_grid button{
    border: none;
    background: var(--sec_dark);
    color: var(--white);
    padding: 20px 40px;
}
.details_grid_box img{
    width: 30px;
    height: auto;
}
.details_grid_box p{
    font-size: 18px;
    text-transform: capitalize;    
}
.slidex_box_flex h2{
    text-transform: capitalize;     
}
.slides_image{
    width: 300px;
    height: 400px;
}
.slides_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* Custom styles for the slider dots */
.slick-dots li button:before {
    color: var(--w); /* Change the color of the dots */
    font-size: 12px; /* Change the size of the dots */
    
  }
  
  /* Active dot */
  .slick-dots li.slick-active button:before {
    color: var(--w); /* Change the color of the active dot */
  }
  
  .slick-prev {
    left: -170px;
}
.slick-next{
    right: -150px;
}
  
  .slick-prev:before, .slick-next:before {
    color: var(--sec_dark); /* Change the color of the arrow icons */
    font-size: 20px; /* Change the size of the arrow icons */
    border: 1px solid var(--sec_dark);
    padding: 15px;
    border-radius: 50%;
  }
  @media (max-width:900px){
    .slick-prev {
        left: -100px;
    }
    .slick-next{
        right: -80px;
    }
  }
  @media (max-width:800px){
    .slick-prev {
        left: -60px;
    }
    .slick-next{
        right: -30px;
    }
  }
  @media (max-width:600px){
    .slick-prev:before, .slick-next:before{
    padding: 10px;
    font-size: 15px;
    }
    .slides_box{   
        width: 300px;
        margin: auto; 
    }
    .details_grid_box{
        margin-left: 10px;
    }
    .slick-prev {
        left: 0px;
    }
    .slick-next{
        right: 18px;
    }
    .price_btn_grid h2{
        font-size: 25px;
    }
    .price_btn_grid button{
        padding: 15px 35px;
    }
  }