.my_account{
    border-radius: 20px;
    padding: 20px;
}
.peronal_info h1{
    font-weight: 600;
    font-size: 25px;
}
.order_list img{
    width: 200px;
    height: auto;
}
.order_list table{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.order_list th,
.order_list td {
    border: 1px solid var(--sec_dark);
}
.order_list td{
    padding: 10px;
    text-align: center;
}
.personal_info_grid{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.first_letter{
    width: 100px;
    height: 100px;
    background: var(--sec_dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.first_letter h1{
    font-size: 70px;
    font-weight: 600;
    color: var(--white);
}
.infos h1{
    line-height: 1;
}
.infos h1 strong{
    font-size: 30px;
    color: var(--sec_dark);
}
.personal_info_contact h1{
    font-weight: 600;
    font-size: 30px;

}
.personal_info_contact input{
    width: 100%;
    border-radius: 5px;
    
}