.item_div{
    width: 300px;
    /* height: 350px; */
    border-radius: 8px;
    transition: 0.3s ease-in;
    border: 0.7px solid var(--sec_dark);
    /* box-shadow:  rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}
.item_div:hover .img img{
    transform: scale(1.05);
    overflow: hidden;
}
.img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}
.img img {
    width: 100%;
/* overflow: hidden; */
    /* height: 300px; */
    object-fit: cover; 
    transition: 0.3s ease; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.wishlist_btn{
    position: absolute;
    top: 15px;
    right: 15px;
}
.produc_content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* background: var(--sec_color); */
    /* align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */

    /* border: 2px solid #000;
    border-top: 0; */
    padding: 10px;
}
.view_details{
    background: var(--sec_dark);
    width: 100%;
    padding: 10px ; 
    border-radius: 10px;   

}
.produc_content h5{
    text-decoration: line-through;
    padding-top: 5px;
}
.produc_content h3{
    /* padding-bottom: 5px; */
    /* border: 1px solid #000; */
    /* border-radius: 10px; */
    /* padding: 5px 60px; */
    /* margin-bottom: 10px; */
    margin: 20px 0;
    color: #8D6B4D !important;

}
.produc_content h2{
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 900 !important;
    /* color: var(--sec_dark); */
    /* text-transform:unset; */
    /* padding-bottom: 5px; */

}
.quantity p{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.quantity p div{
    width: 10px;
    margin-right: 10px;
    height: 10px;
    border-radius: 50%;
    animation: 2s stockShadow infinite;
}
@keyframes stockShadow{
    0%{
        width: 10px;
        height: 10px;
    }
    50%{
        width: 3px;
        height: 3px;
    }
    100%{
        width: 10px;
        height: 10px;
    }
}