.item_div{
    width: 280px;
    border-radius: 8px;
    transition: 0.3s ease-in;
    border: 0.7px solid var(--sec_dark);
    overflow: hidden;
}
.item_div:hover .img img{
    transform: scale(1.05);
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 330px;
    object-fit: cover; 
    transition: 0.3s ease; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.produc_content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px 0;
}

.produc_content h3{
    margin: 15px 0;
    color: #8D6B4D !important;

}
.produc_content h2{
    margin-top: 15px;
    font-size: 1em;
    font-weight: 900 !important;
}
