.down_banner{
  margin-bottom: var(--gap);
    position: relative;
}

.down_banner_content{
    position: absolute;
    bottom:5%;
    left: 0;
    width: 100%;
    text-align: center;
}

.down_banner_content h2,.down_banner_content p {
    color: var(--white);
  }
  .shop__now__button{
  color: var(--sec_dark);
}
  .down_banner_content h2 {
    font-size: 55px;
  }
  .down_banner_content p{
    font-size: 23px;
  }
.down_desktop_img , .down_mobile_img{
    width: 100%;
    height: auto;
}
.down_desktop_img video, .down_mobile_img video{
    width: 100%;
    object-fit: cover;
    height: auto;
}
.down_desktop_img img, .down_mobile_img img{
  width: 100%;
  object-fit: cover;
  height: auto;
}
.down_mobile_img{
    display: none;
}

@media (max-width: 800px){
    .down_mobile_img{
        display: block !important;
    }
    .down_desktop_img{
        display: none;
    }
}
.shop__now__button a{
  color: var(--sec_dark);
  text-decoration: underline;
}
@media (max-width: 600px){
  
    .down_banner_content h2 {
      font-size: var(--font_for_header);
      font-weight: 600;

    }
    .down_banner_content p{
      font-size: var(--pri_font_size);
    }
    .shop__now__button a{
      color: var(--sec_dark);
      text-decoration: underline;
      margin: 20px 0;
    }
}