.details_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  width: 100%;
  align-items: start; 
  overflow: hidden;
}

.product_img_grid {
  width: 100%;
  white-space: nowrap;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.product_container{
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

  
.product_img_grid img,
.product_img_grid video {
  width: 100vw;
  height: auto;
  object-fit: cover;
  display: block;
}
.product_details button {
  width: 100%;
  max-width: 100px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  border: 0.8px solid var(--sec_dark);
  transition: 0.4s ease;
  font-size: var(--pri_font_size);
  color: var(--sec_dark);
  text-decoration: underline;
}
.product_details .price {
  padding: 10px 0;
  font-weight: 600;
  font-size: var(--pri_font_size);
}

.size__ {
  width: 100%;
}
.size__color .size__guideee {
  text-decoration: underline;
  align-items: center;
  color: var(--sec_dark);
}
.size__color .size__flex {
  display: flex;
}
.model__wearing__size {
  opacity: 0.5;
}


.hoverBotton:hover {
  background: var(--sec_color) !important;
  color: var(--sec_dark);
  text-decoration: underline;
  transform: scale(1.05);
  transition: 1s;
}
.activeSize {
  background: var(--sec_color) !important;
  color: var(--sec_dark);
  text-decoration: underline;
  /* transform: scale(1.05); */
}
.size_popup{
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index:999999;
  display: none;
}
.dispplay_size_guide{
  display: block;
}
.overlay_popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.5);
}

.sizee_des{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);;
}
.sizee_des img{
  width: 100%;  
  height: auto;
  max-width: 700px; 
}

.desktop_decription{
  margin-top: 50px;

}
.cart__buy {
  width: 100% ;
  max-width: 100% !important;
  height: 40px;
}
.mobile_decription{
  display: none;
}
.product_detail_box{
  width: 85%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  max-width: 500px; 
  margin: auto;
}
.product__title {
  font-size: var(--font_for_header);
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  line-height: 1;
}

@media(max-width:1200px){
  .details_grid {
    display: grid;
  }
}


@media (max-width: 1000px) {
  .mobile_decription{
    display: block;
  }
  .desktop_decription{
    display: none;
  }
  .product_container{
    max-width: 100%;
    width: 100%;
  }
  .product_page{
    margin-top: 0px;
  }
  .details_grid {
    grid-template-columns: 100%;

  }
  .product_detail_box{
    width: 90%;
    margin: auto;
    max-width: 90%;
  }
 
  .product_img_grid {
    width: 100%;
    height: 750px;
    overflow-x: scroll;
    scrollbar-width: thin;
    background-color: var(--sec_dark);
    white-space: nowrap;
  }
  .product_img_grid img,
  .product_img_grid video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    display: inline-block;    
  }
  
  .price {
    color: #8d6b4d;
    font-size: var(--pri_font_size) !important;
  }
  .buyNow__cartBtn {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .cart__buy {
    width: 100% ;
    max-width: 100% !important;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .size__ button {
    background-color: var(--back);
    width: 25%;
    margin: 0 2% 0 0;
    border: none;
    border: solid var(--sec_dark) 0.8px;
    height: 45px;
  }
  
}
@media(max-width:600px){
  .product_img_grid {
    width: 100%;
    height: 650px;
  }
  
}
