.details_grid {
  display: grid;
  grid-template-columns: 65% 30%;
  justify-content: space-between;
  width: 100%;
  align-items: start; 
}
.product_page{
  margin-top: 65px;
}
.product_img_grid {
  width: 100%;
  white-space: nowrap;
  max-height: 100vh; /* Ensures it doesn't grow too large */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--pri_color) transparent; 
  scroll-behavior: smooth;
}
.product_container{
  width: 90%;
  max-width: 1300px;
  margin: auto;
}
.product_details {
  position: sticky;
  height: fit-content;
}
.product_img_grid img,
.product_img_grid video {
  width: 100vw;
  height: auto;
  object-fit: cover;
}
.product_details button {
  width: 100%;
  max-width: 100px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  border: 0.8px solid var(--sec_dark);
  transition: 0.4s ease;
  font-size: var(--pri_font_size);
  color: var(--sec_dark);
  text-decoration: underline;
}
.product_details .price {
  padding: 10px 0;
  font-weight: 600;
  font-size: var(--pri_font_size);
}

.size__ {
  width: 100%;
}
.size__color .size__guideee {
  text-decoration: underline;
  align-items: center;
  color: var(--sec_dark);
}
.size__color .size__flex {
  display: flex;
}
.model__wearing__size {
  opacity: 0.5;
}


.hoverBotton:hover {
  background: var(--sec_color) !important;
  color: var(--sec_dark);
  text-decoration: underline;
  transform: scale(1.05);
  /* font-size: var(--font_for_header) !important; */
  transition: 1s;
}
.activeSize {
  background: var(--sec_color) !important;
  color: var(--sec_dark);
  text-decoration: underline;
  /* transform: scale(1.05); */
}
.size_popup, .overlay_popup{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index:999999;
}
.overlay_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sec_color);
}

.sizee_des{
  background-color: white;
  width: 98vw;
  height: 96vh;
  border-radius: 10px;
  margin: var(--div-gap);
}
.active_select_sizes{
  overflow-y: hidden;
}
.cart__buy {
  width: 100% ;
  max-width: 100% !important;
  height: 40px;
}
.mobile_decription{
  display: none;
}

@media(max-width:1200px){
  .details_grid {
    display: grid;
    grid-template-columns: 65% 34%;
  }
}


@media (max-width: 1000px) {
  .mobile_decription{
    display: block;
  }
  .desktop_decription{
    display: none;
  }
  .product_container{
    max-width: 100%;
    width: 100%;
  }
  .product_page{
    margin-top: 0px;
  }
  .details_grid {
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-radius: 10px;
  }
 
  .product_img_grid {
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: 0px;
    background-color: var(--sec_dark);
    white-space: nowrap;
  }
  .product_img_grid img,
  .product_img_grid video {
    width: 100vw;
    height: 750px;
    object-fit: cover;
    display: inline-block;    
  }
  .product__title {
    font-size: var(--font_for_header);
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .product_details {
    padding:0% 5% 20px 5%;
  }
  .price {
    color: #8d6b4d;
    font-size: var(--pri_font_size) !important;
  }
  .buyNow__cartBtn {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .cart__buy {
    width: 100% ;
    max-width: 100% !important;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .size__ button {
    background-color: var(--back);
    width: 25%;
    margin: 0 2% 0 0;
    border: none;
    border: solid var(--sec_dark) 0.8px;
    height: 45px;
  }
  
}
@media(max-width:600px){
  .product_img_grid img,
  .product_img_grid video {
    height: 650px;    
  }
}
