.Product__catalog{
    border: solid 0.8px var(--sec_dark);
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    height: 450px;
    
}

.Product__catalog .product__image{
    width: 100%;
}
.Product__catalog .product__image img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.Product__catalog .name__{
    font-size: var(--pre_font_size);
    font-weight: 600;
}
.name__price .price__{
    color: var(--sec_dark);
}
.name__price{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
@media(max-width:1000px){
    .Product__catalog{
        height: 400px;
    }
    .Product__catalog .product__image img{
        height: 300px;
    }
}
@media(max-width:900px){
    .Product__catalog{
        height: 350px;
    }
    .Product__catalog .product__image img{
        height: 250px;
    }
}

@media(max-width:700px){
    .Product__catalog{
        height: 400px;
    }
    .Product__catalog .product__image img{
        height: 300px;
    }
}


@media(max-width:450px){
    .Product__catalog{
        height: 300px;
    }
    .Product__catalog .product__image img{
        height: 200px;
    }
}