.navbar {
  width: 100%;
  position: fixed;
  z-index: 999999;
  top: 0%;
  transition: top 0.5s ease, 0.5s ease;
  
}
.nav_padding{
  padding: 0 5%;
}
.navbar.hidden {
  top: -100%;
}
.navbar.visible {
  top: 0;
}
.navbar .nav_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.navbar_menu {
  background: none;
}

.background_nav {
  transition: 0.5s;
  background: var(--back-c);
  backdrop-filter: blur(20px);
  position: relative;
  z-index:99;
}

  .no-scroll {
    overflow: hidden;
  }
  
  .hamburger-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .menu_btn{
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
  }
  .active .menu_btn{
    grid-template-columns: auto;
  }
  .menu-bar1,
  .menu-bar2,
  .menu-bar3, 
  .menu-bar4 {
    width: 4px;
    height: 4px;
    background-color: #000;
    margin: 3px ;
    transition: 0.2s;
    border-radius: 50%;
  }
  .active .menu-bar1 {
    transform: rotate(-45deg) translate(-0.25rem, 0.25rem);
    width: 20px;
    height: 2px;
    border-radius: 5px !important;

  }
  
  .active .menu-bar2, .active .menu-bar4 {
    display: none;
  }
  
  .active .menu-bar3 {
    transform: rotate(45deg) translate(-0.1rem, -0.1em);
    width: 20px;
    height: 2px;
    border-radius: 5px !important;
  }
  .menu_logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu_logo img{
    width: 100px;
  }
  .search_btn{
    padding-left: 25px;
  }
  .searchBtnActive{
    visibility: hidden;
  }
  
  .search_btn button{
    border: none;
    background: none;
    display: flex;
    align-items: center;
  }
  .search_btn button p{
    margin: 0 0 0 10px;
  }
  .nav_btn{
    z-index: 11;
    display: flex;
    align-items: center;
  }

  .end_menu{
    padding: 20px 0;

    display: flex;
    justify-content: end;
  }
  .end_menu ul{
    display: flex;
    align-items: center;
  }
  .end_menu ul li {
    list-style: none;
    padding-right: 10px;
  }
  .overlay {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .to_hide_search{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 6px;
    cursor: pointer;
  }
  
  .overlay_bg{
    position: absolute;
    z-index: 9;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .overlay-slide-right {
    transition: all 0.2s ease-in-out;
    transform: translateY(0%);
  }
  
  .overlay-slide-left {
    transition: all 0.2s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .overlay nav {
    position: absolute;
    z-index: 9;
    width: 35%;
    padding: 50px 0 0 5%;
    height: 100vh;
    overflow-y: scroll;
    background-color:var(--back-c) ;
    backdrop-filter: blur(10px);
    scrollbar-width: none;
  
  }
 
  .overlay nav ul{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .overlay nav ul li {
    position: relative;      
    list-style: none;
    padding-top: 30px;
    font-size: var(--font_for_header);
    display: inline-block;
    text-align: center;
    
}

.overlay nav ul li::after {
    content: '';    
    width: 0;
    display: block; 
    height: 2px;
    background: var(--sec_dark);
    margin-top: 10px; 
    position: absolute; 
    bottom: 0; 
    transition:  width 0.5s ease;
    left: 0;
}

.overlay nav ul .liActive{
  color: var(--sec_dark);
}
.overlay nav ul li:hover::after,
.overlay nav ul li.liActive::after {
    width: 100%;
}
.to_hide_nav{
  position: relative;
  z-index: 9;
  display: none;
}
.search_box{ 
  display: none;
  transition: 1s;
}

.search_box input{
  background: none;
  width: 70vw;
  height: 50px;
  border: 2px solid var(--sec_dark);
  border-radius: 30px;
  padding-left: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  font-size: var(--sec_font_size);
}
.active_search_box{
  display: block;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--back-c);
  height: 20vh;
  width: 90vw;
  border-radius: 5px;
  transition: 1s;
}
.active_search_overlay{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.148);
  z-index: 999;
}
.cart_icon{
  margin-right:15px ;
}
.close_btnnn{
  position:absolute;
  top: 0;
  right: 0;
  color: var(--sec_dark);
  text-decoration: underline;
  padding: 10px 25px;
}

  @media (max-width: 800px){   
    .to_hide_search, .cart_icon{
      display: none;
    }
    .to_hide_nav{
      display: block;
    }     
    .overlay nav{
        width: 100%;
    }
    .searchBtnActive{
        visibility: visible;
      }
      .search_btn{
        padding-left: 15px;
      }
      .menu_logo img,.end_menu{
        z-index: 99;
        position: relative;
      }
      .hamburger-menu p{
        display: none;
      }
  }
  @media (max-width:600px){
   .overlay nav {
   padding: 10vh 0;

  }
  .nav_padding{
    padding: 0 3%;
  }
  .overlay nav ul a{
    text-align: center;
  }
}