.navbar {
  width: 100%;
  position: fixed;
  z-index: 999999;
  top: 0%;
  transition: top 0.5s ease, 0.5s ease;
}

.navbar.hidden {
  top: -100%;
}

.navbar.visible {
  top: 0;
}

.navbar .nav_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.navbar_menu {
  background: none;
}

.background_nav {
  transition: 0.5s;
  background: var(--back-c);
  backdrop-filter: blur(20px);
  position: relative;
  z-index:99;

}

  .no-scroll {
    overflow: hidden;
  }
  
  .hamburger-menu {
    cursor: pointer;
  }
  .menu_btn{
    
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
  }
  .active .menu_btn{
    grid-template-columns: auto;
  }
  .menu-bar1,
  .menu-bar2,
  .menu-bar3, 
  .menu-bar4 {
    width: 5px;
    height: 5px;
    background-color: #000;
    margin: 3px ;
    transition: 0.2s;
    border-radius: 50%;
  }
  .active .menu-bar1 {
    transform: rotate(-45deg) translate(-0.28rem, 0.25rem);
    width: 20px;
    height: 2.5px;
    border-radius: 5px !important;

  }
  
  .active .menu-bar2,.active .menu-bar4 {
    display: none;
  }
  
  .active .menu-bar3 {
    transform: rotate(45deg) translate(-0.1rem, -0.1rem);
    width: 20px;
    height: 2.5px;
    border-radius: 5px !important;
  }
  .menu_logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu_logo img{
    width: 100px;
  }
  .search_btn{
    padding-left: 25px;
  }
  .searchBtnActive{
    visibility: hidden;
  }
  
  .search_btn button{
    border: none;
    background: none;
    display: flex;
    align-items: center;
  }
  .search_btn button p{
    margin: 0 0 0 10px;
  }
  .nav_btn{
    z-index: 11;
    display: flex;
    align-items: center;
  }

  .end_menu{
    padding: 15px 0;
    display: flex;
    justify-content: end;
  }
  .end_menu ul{
    display: flex;
    align-items: center;
  }
  .end_menu ul li {
    list-style: none;
    padding-right: 10px;
  }
  .overlay {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .overlay_bg{
    position: absolute;
    z-index: 9;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.9); */
  }
  
  .overlay-slide-right {
    transition: all 0.2s ease-in-out;
    transform: translateY(0%);
  }
  
  .overlay-slide-left {
    transition: all 0.2s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .overlay nav {
    position: absolute;
    z-index: 9;
    width: 35%;
    height: 100vh;
    background-color:var(--back-c) ;
    backdrop-filter: blur(10px);
  }
 
  .overlay nav ul{   
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .overlay nav ul li {
    position: relative;      
    list-style: none;
    padding-top: 30px;
    font-size: var(--font_for_header);
    display: inline-block;
}

.overlay nav ul li::after {
    content: '';    
    width: 0;
    display: block; 
    height: 2px;
    background: var(--sec_dark);
    margin-top: 10px; 
    position: absolute; 
    bottom: 0; 
    transition:  width 0.5s ease;
    left: 0;
}

.overlay nav ul .liActive{
  color: var(--sec_dark);
}
.overlay nav ul li:hover::after,
.overlay nav ul li.liActive::after {
    width: 100%;
}
.to_hide_nav{
  position: relative;
  z-index: 9;
}
.search_box{
  position: absolute;
  top: -4px;  
  right: -30px;  
  display: none;
  transition: 0.5s;
}
.active_search_box{
  right: 3px;
  display: block;
  z-index: 10;
}
.search_box input{
  background: none;
  width: 200px;
  height: 35px;
  border: 2px solid var(--sec_dark);
  border-radius: 30px;
  padding-left: 10px;
}

@media (min-width: 1300px) {
  .overlay nav {
      width: calc((100% - 1300px)/2 + 350px);
      padding-left: calc((100% - 1300px)/2);
      padding-top: 70px;
  }
}
  @media (max-width: 1300px){
    .overlay nav {
      padding: 70px 0 0 10vh;
    }
  }
  @media (max-width: 800px){
        
    .overlay nav{
        width: 100%;
    }
    .searchBtnActive{
        visibility: visible;
      }
      .search_btn{
        padding-left: 15px;
      }
      .menu_logo img,.end_menu{
        z-index: 99;
        position: relative;
      }
  }
  @media (max-width:600px){
   .overlay nav {
   padding: 10vh 0;

  }
  .overlay nav ul li{
    display: flex;
    justify-self: center;
    align-items: center;
  }
  }