.banner{
    position:relative;
}
.banner_content{
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}
.banner_content h2 , .banner_content p{
    color: white;
}
.banner_content h2{
    font-size: var(--font_for_header);
}

.mobile_img{
    display: none;
}
@media (max-width: 800px){
    .mobile_img{
        display: block !important;
    }
    .desktop_img{
        display: none;
    }
    .controls{
        bottom: 80px;
    }
    .controls img {
      width: 20px;
      height: auto;
    }

}