.body_grid{
    display: grid;
    grid-template-columns:250px 1fr;
    justify-content: center;
    width: 100%;
}
.admin_margin_box{
    margin: 20px;
    border: 1px solid var(--sec_dark);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px var(--sec_dark);
    height: calc(100vh - 115px);
    overflow-y: scroll;
    scrollbar-width: none;
}
.admin_margin_box::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.admin_navbar{
    width: 100%;
    height: 100vh;
    border-right: 1px solid var(--sec_dark);
    padding: 10px;
    /* margin-left: -100%; */
}
.admin_navbar .logo {
    width: 80px;
}
.admin_navbar .logo img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.admin_box{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    padding: 10px;
    background: var(--sec_dark);
    border-radius: 10px;
    margin-top: 20px;
}

.admin_navbar .menu span svg{
    width: 25px;
    height: 25px;
}

.admin_navbar .menu li{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    padding: 15px;    
    border-radius: 10px;
}
.liActive{
    background: var(--sec_dark);
}
.top_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid var(--sec_dark);
}

.top_nav_end ul li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
}
.message_number{
    position: relative;
}
.messages_num{
    position: absolute;
    top: -5px;
    right:5px;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.messages_num p{
    color: var(--white);
    font-size: 10px;
}
.welcome_message{
    display: flex;
    align-items: center;
    gap: 20px;
}
.welcome_message p{
    font-weight: 600;
    font-size: 18px;

}
.welcome_message .hamburg_menu{
   cursor: pointer;
   display: none;
}
.menu_1 , .menu_2, .menu_3{
    width: 18px;
    height: 2px;
    background: var(--pri_text);
    margin: 5px;
    transition: 0.2s ease;
}

.menuActive .menu_1{
    transform: rotate(-45deg) translate(-0.3rem, 0.4rem);

}
.menuActive .menu_2{
    opacity: 0;
}
.menuActive .menu_3{
    transform: rotate(45deg) translate(-0.2rem, -0.3rem);
}
.moobile_nav{
    position: fixed;
    top: 0;
    left: -100%;
    /* display: none; */
    width: 100%;
    height: 100vh;
    border-right: 1px solid var(--sec_dark);
    padding: 10px;
    background: var(--white);
    transition: 0.5s;
}
.menuLeft{
    left: -100% !important;
}
.moobile_navActive{
    left: 0;
}
.moobile_nav .logo {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.moobile_nav .logo img{
    width: 80px;
    height: auto;
    object-fit: contain;
}
.moobile_nav .menu span svg{
    width: 25px;
    height: 25px;
}
.moobile_nav .menu {
    margin-top: 50px !important;
}
.moobile_nav .menu li{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    padding: 15px;    
    border-radius: 10px;
    /* display: inline-block; */
}
.moobile_nav .hamburg_menu{
    cursor: pointer;
    display: none;
 }
 .blog_table{
    width: 100%;
    margin-top: 20px;
}
.blog_table table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--sec_dark);
}
.blog_table th,
.blog_table td {
    border: 1px solid var(--sec_dark);
}
.blog_table table thead th{
    height: 40px;
}
.blog_table table .table_img ,.blog_table table .table_title,.blog_table table .table_category{
    width: 18%;
    height: auto;
    padding: 10px;
}
.blog_table table .table_img img {
    width: 100px;
    height: auto;
}
.blog_table table .table_content{
    padding:10px ;
    
}
.table_sn{
    width: 40px;
    text-align: center;
}
.edit_btn{
    padding: 5px 40px;    
    background-color: var(--sec_dark);
    color: var(--white);
    border-radius: 5px;
}

.banner_form h3{
    font-weight: 600;
}
.banner_form .from_grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 48% 48%;
    
}
.banner_form form input,.banner_form form textarea,.banner_form form select{
    height: 40px;
    border: 1px solid var(--sec_dark);
    background: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
}
.banner_form form textarea{
    height: 80px;
}

.banner_form form input[type="submit"]{
    width: 50%;
    background: rgb(192, 162, 61);
    color: var(--w);
    transition: 0.3s;
}
.banner_form form input[type="submit"]:hover{
    background: none;
    color: var(--b);
    border: none;
    box-shadow: rgba(40, 114, 224, 0.17) 0px -23px 25px 0px inset, rgba(40, 114, 224, 0.15) 0px -36px 30px 0px inset, rgba(40, 114, 224, 0.1) 0px -79px 40px 0px inset, rgba(40, 114, 224, 0.06) 0px 2px 1px, rgba(40, 114, 224, 0.09) 0px 4px 2px, rgba(40, 114, 224, 0.09) 0px 8px 4px, rgba(40, 114, 224, 0.09) 0px 16px 8px, rgba(40, 114, 224, 0.09) 0px 32px 16px;
}
.submit_btn:disabled{
    cursor: not-allowed;
    background: #806f3e;
    opacity: 0.6;
}
@media (max-width: 1100px){
    .moobile_nav .hamburg_menu{
        display: block;
    }
}
@media (min-width: 1100px){
    .moobile_nav{
        display: none;
    }
}

@media (max-width:1100px){
    .welcome_message .hamburg_menu{
        display: block;
    }
}
@media (max-width: 800px){
    
}
@media (max-width: 1100px){
    .body_grid{
        grid-template-columns: 100%;
    }
    .admin_navbar{
        display: none;
    }
    
}