.company {
  display: flex;
  /* margin: 80px 0 !important; */
  justify-content: space-between;
  padding: 80px 0;
}
.company__promises {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 5;
  width: 33%;
}
.company__promises .pro__tags {
  font-weight: 900;
}
.pro__disc span a {
  text-decoration: underline;
  color: var(--sec_dark);
}
.company svg {
  fill: var(--sec_dark);
}

@media (max-width: 700px) {
  .company {
    align-items: center;
    flex-direction: column;
    padding: 0  0 40px 0;
  }

  .company__promises {
    width: 90%;
    margin-top: 40px;
  }
  .company__promises .pro__tags {
    font-weight: 900;
  }
  .pro__disc span a {
    text-decoration: underline;
    color: var(--sec_dark);
  }
}
