.company {
  display: flex;
  padding: 0 15%;
}
.company__promises {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 5;
  width: 33%;
  padding: 5%;
}
.company__promises .pro__tags {
  font-weight: 900;
}
.pro__disc span a {
  text-decoration: underline;
  color: var(--sec_dark);
}
svg {
  fill: black;
}

@media (max-width: 600px) {
  .company {
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .company__promises {
    width: 90%;
    padding: var(--div-gap);
  }
  .company__promises .pro__tags {
    font-weight: 900;
  }
  .pro__disc span a {
    text-decoration: underline;
    color: var(--sec_dark);
  }
  svg {
    fill: black;
  }
}
