.slider-container {
  width: 100%;
  margin-bottom: 0;
}

.carousel-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right:3px;
  padding-left: 3px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slick-prev {
  left: 8%;
}

.slick-next {
  right: 8%;
  
}
.slick-next:before {
  content: '⮞'; /* Right arrow */
}
.slick-prev:before {
  content: '⮜'; /* Left arrow */
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 1;
  opacity: 0.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before, .slick-next:before {
  color: var(--pri_text) !important;
}

.slider-details {
  position: relative;
  text-align: center;
}

.desktopImage {
  display: block;
  width: 100%;
  height: auto;
}

.mobileImage {
  display: none !important;
  width: 100%;
  height: auto;
}

.slider-details-content {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.slider-details-content h3{
  font-size: var(--font_for_header);
  color: white;
  font-weight: 500;
}
.slider-details-content p{
  color: white;
}

.slider-details-content button {
  color:var(--sec_dark) ;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 500;
  text-decoration: underline;
}
@media(max-width:800px){
  .slick-arrow{
    display: none;
  }
}

@media (max-width: 768px) {
  .desktopImage {
    display: none !important;
  }

  .mobileImage {
    display: block !important;
  }
}
@media (max-width: 600px){
  .slider-details-content h3{
      font-size: 22px;
  }
}

