.slider-container {
  width: 100%;
  /* margin: 0 auto; */
  margin-bottom: 0;
}

.carousel-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right:3px;
  padding-left: 3px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}
.slick-next:before {
  content: '→';
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 1;
  opacity: 0.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before, .slick-next:before {
  color: var(--pri_text) !important;
}

.slider-details {
  position: relative;
  text-align: center;
}

.desktopImage {
  display: block;
  width: 100%;
  height: auto;
}

.mobileImage {
  display: none !important;
  width: 100%;
  height: auto;
}

.slider-details-content {
  position: absolute;
  bottom: 20px;
  width: 100%;
  /* left: 50%; */
  text-align: center;
  /* transform: translateX(-50%); */
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.slider-details-content h3{
  font-size: var(--font_for_header);
  color: white;
  font-weight: 600;
}
.slider-details-content p{
  color: white;
  font-weight: 500;
}

.slider-details-content button {
  /* background-color:var(--sec_color); */
  color:var(--sec_dark) ;
  text-decoration: underline;
  border: none;
  font-weight: 600;
  /* padding: 10px 30px; */
  cursor: pointer;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .desktopImage {
    display: none !important;
  }

  .mobileImage {
    display: block !important;
  }
}
