.cart_grid{
    display: grid;
    grid-template-columns: 30% 55% 15%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.cart_img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.cart_img img{
    width: 100%;
    border-radius: 10px;
}
.cart_title{
    width: 100%;
    padding: 10px;
}
.quantity{
    width: 150px;
    height: 40px;
    border: 2px solid var(--sec_color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.quantity button {
    background: none;
    border: none;
    font-size: 18px;
}
.cart_price{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    text-align: end;
    gap: 10px;
}
.cart_price h5{
    margin-bottom: 10px;
}