
.footer_part {
  background: var(--back);
  width: 100%;
  height: auto;
  margin-bottom: var(--gap);
  /* padding-top: var(--div-gap); */

}
.help_answer p {
  text-decoration: underline;
}
.social_media {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-bottom: var(--gap);
}
.social_media li {
  list-style: none;
  position: relative;
  z-index: 10;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--back-c);
  border-radius: 50%;
}
.footer_menu ul {
  display: flex;
  flex-direction: column;

  padding: 0 20%;
}
.footer_menu ul li div p{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}
.footer_menu ul li{
  list-style: none;
  border-bottom: solid 0.5px black;
  padding: 20px;
  cursor: pointer;
}
.sub_fotter_menu{
  display: flex;
  flex-direction: column;
  padding-left: 5vw;

  /* max-height: 0; */
    overflow: hidden;
    transition: max-height 1s ease !important;
}
.sub_fotter_menu a{
  padding-top: 10px ;
  text-decoration: underline;
  color: var(--sec_dark) !important;
  
}
.copyright {
  background-color: var(--back);
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  border-top: solid 0.5px black;
}
.copyright p a {
  text-decoration: underline;
  color: var(--sec_dark);
}
.new__logo {
  border-top: solid 0.8px;
  display: flex;
  justify-content: center;
}
.new__logo img {
  width: 30%;
}
.lo__go a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}
.lo__go img {
  width: 10%;
}
.call_me .chat__with__us a {
  color: var(--sec_dark);
  text-decoration: underline;
}

.call_me {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 15px;
}
@media (max-width: 800px) {

  .footer_menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .copyright p {
    font-size: var(--sec_font_size);
    color: black;

  }
  .new__logo img {
    width: 70%;
    margin-top: var(--gap);

  }
  .new__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lo__go img {
    width:25%;
  }
}
