.img_containor{
    margin: 15PX;
    column-width :180PX;
}
.img_containor img{
    border-radius: 10px;
    height: auto;
    width: 100%;
    margin-bottom: 15PX;
}
.load_more_btn{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.load_more_btn button{
    background: var(--pri_color);
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: underline;
}