.galleryyy {
    max-width: 100vw;
    text-align: center;
    margin-bottom: var(--gap);
  }
  .slick-prev:before, .slick-next:before{
    color: var(--pri_text) !important;

  }
  .cus__gallery {
    display: flex;
    flex-wrap: nowrap; /* Ensures images stay in a single row */
    overflow-x: auto; /* Enables horizontal scrolling */
    gap: var(--gap); /* Optional, adds space between images */
    padding: var(--gap); /* Optional, adds space below the images */
    scrollbar-width: 0 !important;
  }
  
  .cus__gallery img {
    height: 200px; /* Fixed height for images */
    object-fit: cover; /* Ensures the images cover the container without distortion */
    border-radius: 5px;
    flex-shrink: 0; /* Prevent images from shrinking */
  }
  
  .cus__gallery a {
    display: inline-block; /* Makes each link behave like a block element */
    flex-shrink: 0; /* Prevent shrinking */
  }
  
  .slider__name h1 {
    font-size: var(--font_for_header);
    font-weight: 600;
    /* margin-bottom: 10px; */
  }
  
.add__photo__text{
    font-weight: 600;
    color: var(--sec_dark);
    text-decoration: underline;
}
  
  
