@import 'flowbite'; /* Import Flowbite styles */
@import url("https://use.typekit.net/jza0yuk.css");
@import url("https://use.typekit.net/jza0yuk.css");
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,398;1,398&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,300;1,300&family=Cormorant:ital,wght@0,398;1,398&display=swap');
 */

 @import url("https://use.typekit.net/rdu3esw.css");
 @import url("https://use.typekit.net/rdu3esw.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
   */
   /* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); */
  
  
   
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "mr-eaves-modern", sans-serif;
  /* background: white !important; */
}
:root{
  --pri_text:#000;
  --white:#fff;
 --pri_color:#edc9af; /* #F7E6D3 */
  --sec_color: #edc9;
  --sec_dark: #8D6B4D;
  --pri_font_size:20px;
  --sec_font_size:17px;
  --font_for_header:30px;
  --back:rgb(255, 255, 255);
  --back-c:rgba(255, 255, 255, 0.847);
  --gap:15px;
  --normal:7.5px;
}
Link, a, button{
  cursor: pointer;
  color: var(--pri_text);
  text-decoration: none;
}
h1,h2,h3,h4,h5,p{
  color: var(--pri_text);
}
/* @font-face {
  font-family: "mr-eaves-modern";
  src: url("path_to_font_file.woff2") format("woff2"),
       url("path_to_font_file.woff") format("woff");
  font-weight: 559;
  font-style: normal;
} */

.headers {
  font-family: "mr-eaves-modern", sans-serif;
  font-variation-settings: "wght" 559;
}
.container{
  /* max-width: 90%; */
  margin: auto;  
}
.container {
  max-width: 100%;
}

@media (min-width: 601px) and (max-width: 1300px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 1301px) {
  .container {
    max-width: 1300px;
  }
}
body{
  /* background: var(--pri_color); */
  font-family: "mr-eaves-modern", sans-serif;
  font-variation-settings: "wght" 400;
  font-size: var(--pri_font_size);
}
 

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 0px;
  scrollbar-width: none;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* For Firefox */
body {
  scrollbar-width: none !important;
  scrollbar-color:var(--sec_dark) var(--pri_color);
}
svg path{
  stroke: 29px;
}
/* .div_container{
  background-color: var(--back);
  width: 100%;
  z-index: 999;
  /* position: relative; */