.bestSelling{
    margin: var(--div-gap) 0;
}
.bestSelling h1,.hotSelling h2{
    text-align: center;
    padding: var(--div-gap) 0;
    font-weight: 700;
    font-size: var(--font_for_header);
}
.best_flex{
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    scrollbar-width: none;   
    gap: 30px; 
    margin-left:var(--div-gap);
}
.view_all_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 456px;
    border-radius: 5px;
    color: var(--sec_dark);
    text-decoration: underline;
    border: solid 0.7px var(--sec_dark);

}
.best__of__{
    position: relative;  
}
.best__of__ img{
    position: absolute;
    top: 70%;
    left: 43%;
    transform: rotate(-5deg);
    filter: invert(47%) sepia(4%) saturate(3622%) hue-rotate(346deg) brightness(90%) contrast(84%);
}
@media (max-width:600px){
    .best_flex{
    gap: var(--div-gap);
}
.best_container{
    width: 100%;
}
.best__of__ img{
    position: absolute;
    top: 65%;
    width: 18%;
    left: 35%;
    filter: invert(47%) sepia(4%) saturate(3622%) hue-rotate(346deg) brightness(90%) contrast(84%);
}
}
