/* .bestSelling{ 
    
    padding: 10px;
} */
.bestSelling h1,.hotSelling h2{
    text-align: center;
    padding: 40px 0;
}
.best_flex{
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    scrollbar-width: none;   
    gap: 30px; 
    padding: 0 0 15px 15px ;
}
.view_all_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    background: var(--sec_color);
}
@media (max-width:600px){
    .best_flex{
    gap: 15px;
}
.best_container{
    width: 100%;
}
}
