.bestSelling{ 
    margin-top: 100vh;
}
.bestSelling h2,.hotSelling h2{
    text-align: center;
    padding: 50px 0;
}
.best_flex{
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    scrollbar-width: none;   
    gap: 20px; 
}
.view_all_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 368px;
    border-radius: 20px;
    background: var(--sec_color);
}
