.order_box{
    /* margin-top: 15%; */
    background-color:var(--white);
}
.order_title{
    font-size: var(--font_for_header);
    font-weight: 600;
}
.order_promo_title input{
    border: 1px solid var(--sec_dark) !important;
    font-size: var(--pri_font_size);
    width: 100%;    
}
.order_summary_price{
    display: none;
}
.order_promo{
    display: grid;
    grid-template-columns: 70% 25%;
    justify-content: space-between;
}
.order_promo form input{   
    background: none;
    height: 50px;
    border-radius: 5px;
}
.place_order_button {
    font-size: 20px;
    font-weight: 500;
}
.submit_btn{
    /* width: 250px; */
    height: 40px;
    border-radius: 5px;
}
.order_from input{
    height: 40px;
}
@media(max-width:800px){
    
    .grid_order_summary_price{
        display: none;
    }
    .order_summary_price{
        display: block;
    }
    .order_promo{
        display: grid;
        grid-template-columns: 60% 35%;
    }
    .cart_box{
        display: grid;
        grid-template-columns: 30% 70%;
    }


}
@media(max-width:550px){
    .order_promo{
        display: grid;
        grid-template-columns: 100%;
    }
    .place_order_button{
        margin-top: 10px;
        font-size: 18px !important;

    }
    .order_title{
        font-size: 20px;
    }
}