.about_item{
    margin:var(--gap) 15vw;
    text-align: center;
}
.about_first_item p{
    font-weight: 500;
    margin: var(--gap) 0;
}
.about_second_item h1{
    font-size: var(--font_for_header);
    font-weight: 600;
    margin-top: var(--gap);
}
.about_second_item p{
    font-size: var(--pri_font_size);
    margin-top: var(--gap);
    font-weight: 500;
}