.product_carousel {
    width: 100%;
    height: auto;
    position: relative;
}

.product_carousel .carousel_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.product_carousel .carousel_img img {
    width: 100%;
    /* height: 70vh; */
    height: 100%;
    object-fit: cover;
}

/* Slick slide adjustments */
.slick-list {
    overflow: hidden; /* Prevent overflow issues */
    height: auto !important;
}

.slick-track {
    display: flex !important;
    align-items: center;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; /* Reset padding */
}

/* Individual carousel items */
.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.carousel-item:nth-child(1) {
    flex-basis: 15%; /* Left item width */
}

.carousel-item:nth-child(2) {
    flex-basis: 70%; /* Middle item width */
}

.carousel-item:nth-child(3) {
    flex-basis: 15%; /* Right item width */
}

/* Center the middle item */
/* .slick-center .carousel-item {
    transform: scale(1.1); /* Optional: scale the center item */
    /* z-index: 1;
}  */


/* Dots and arrows */
.slick-dots li button:before {
    color: var(--w);
    font-size: 12px;
}

.slick-dots li.slick-active button:before {
    color: var(--w);
}
.slick-next{
    right: 70px;
}
.slick-prev:before,
.slick-next:before {
    color: var(--sec_dark) !important;
    font-size: 20px;
    border: 1px solid var(--sec_dark);
    padding: 10px;
    border-radius: 50%;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .carousel-item:nth-child(1),
    .carousel-item:nth-child(3) {
        flex-basis: 30%; /* Adjust left and right item width */
    }

    .carousel-item:nth-child(2) {
        flex-basis: 40%; /* Adjust center item width */
    }

    .slick-prev,
    .slick-next {
        display: none; /* Hide arrows for smaller screens */
    }
}
