.footnav{
    position: fixed;
    bottom: -100%;
    display: flex;
    justify-content: center;
    width: 100%;
    display: none;     
    z-index: 9999;
    transition:  0.5s ease;
    border-top: solid 1px #D3BFAD;
}
.footnav.hidden {
    bottom: -100%;
  }
  
  .footnav.visible {
    bottom: 0;
  }
.foornav_box{    
    /* padding:10px 20px; */
    
    /* background: ; */
    /* border-radius: 10px;    */
    backdrop-filter: blur(5px);
}
.foornav_box ul {
    height: 60px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.nav_foot_active svg,.nav_foot_active svg path {
    fill: #fff;

}

@media (max-width: 800px){
    .footnav{
        display: block;
    }
}